<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.5/angular-sanitize.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Stitch Fix Clearance Tool</h1>
  <%= form_tag('/api/clearance_batches', multipart: true, class: 'form-inline', role: 'form') do %>
    <div class="form-group">
      <%= label_tag 'csv_batch_file', 'Select batch file' %>
      <%= file_field_tag 'csv_batch_file', class: 'form-control' %>
    </div>
    <%= button_tag 'upload batch file', class: 'btn btn-primary' %>
  <% end %>
  <!-- <%- if flash[:notice] -%>
    <div class="alert alert-info" role="alert">
      <%= flash[:notice].html_safe %>
    </div>
  <%- end -%>
  <%- if flash[:alert] -%>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert].html_safe %>
    </div>
  <%- end -%> -->
  <%= yield %>
</div>

</body>
</html>
